<%
var status = error.status || 500;
var error_name = error.name || 'Internal Server Error';
var error_msg = error.message || 'An error has occurred on the server. Unfortunately, we are unable to be more specific than that.';
%>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Error <%= status %> | ACS Ft Gordon Budgeting</title>
		
		<!-- Twitter Bootstrap v4.3.1 stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/bootstrap-4.3.1.css" />

		<!-- Font Awesome Glyphs -->
		<link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" />

		<!-- navbar stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/navbar.css" />

		<!-- in-house stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/default-style.css" />

		<!-- jQuery v3.4.0 -->
		<script src="/js/jQuery-3.4.0.js"></script>

		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

		<!-- Twitter Bootstrap v4.3.1 JS -->
		<script src="/js/bootstrap-4.3.1.js"></script>

		<!-- page-specific includes -->
		<%- (typeof head !== 'undefined') ? head : '' %>
	</head>
	<body>
		<%- include('./partials/header'); %>
		<div class="container" id="body">
			<br />

			<!-- heading -->
			<h3>Error <%= status %>: <%= error_name %></h3>
			<div class="sub-heading"><%= error_msg %></div>

			<!-- errors -->
			<% if(error.stack) { %>
				<hr />
				<pre class="alert-pre border bg-light p-2"><code><%= error.stack %></code></pre>
			<% } %>

			<!-- content -->
			<footer class="border-top my-md-5 pt-4 pt-md-5">
				<span>Copyright 2019 United States Army</span>
			</footer>
		</div>
	</body>
</html>