<html>
	<head>
		<meta charset="utf-8" />
		<title><%= (typeof title !== 'undefined') ? title + ' | ' : '' %>ACS Ft Gordon Budgeting</title>
		
		<!-- Twitter Bootstrap v4.3.1 stylesheet -->
		<link href="/css/bootstrap-4.3.1.css" rel="stylesheet" type="text/css" />

		<!-- Font Awesome Glyphs -->
		<link href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" rel="stylesheet" type="text/css" />

		<!-- navbar stylesheet -->
		<link href="/css/navbar.css" rel="stylesheet" type="text/css" />

		<!-- in-house stylesheet -->
		<link href="/css/default-style.css" rel="stylesheet" type="text/css" />

		<!-- jQuery v3.4.0 -->
		<script src="/js/jQuery-3.4.0.js"></script>

		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>

		<!-- Twitter Bootstrap v4.3.1 JS -->
		<script src="/js/bootstrap-4.3.1.js"></script>

		<!-- page-specific includes -->
		<%- (typeof head !== 'undefined') ? head : '' %>
	</head>
	<body>
		<%- include('./partials/header'); %>
		<div class="container" id="body">
			<br />

			<% if(typeof heading !== 'undefined') { %>
				<h3><%= heading %></h3>
				<% if(typeof breadcrumbs !== 'undefined' && Array.isArray(breadcrumbs) && breadcrumbs.length > 0) {
					var breadcrumbHTML = '<p class="breadcrumbs"><a href="/">Home</a>';
					breadcrumbs.forEach((breadcrumb) => {
						breadcrumbHTML += ' / ' + (typeof breadcrumb.path !== 'undefined' ? `<a href="${breadcrumb.path}">` : '') + breadcrumb.page + (typeof breadcrumb.path !== 'undefined' ? '</a>' : '');
					});
					breadcrumbHTML += '</p>'; %>
					<%- breadcrumbHTML %>
				<% } else { %>
					<p class="breadcrumbs">Home</p>
				<% } %>
				<hr />
			<% } %>

			<!-- body -->
			<%- (typeof bodySrc !== 'undefined') ? include(bodySrc) : '' %>

			<!-- content -->
			<footer class="border-top my-md-5 pt-4 pt-md-5">
				<span>Copyright 2019 United States Army</span>
			</footer>
		</div>
	</body>
</html>