<% if(typeof drafts !== 'undefined' && drafts.length > 0) {
	categoryArray = [];
	categories.forEach(category => {
		categoryArray[category.id] = category.name;
	});
	%>
	<div class="grid">
		<div class="grid-header row">
			<div class="col-sm-4">Item</div>
			<div class="col-sm-3">Category</div>
			<div class="col-sm-2">Total Cost</div>
			<div class="col-sm-3">Created</div>
		</div>
		<div class="grid-body striped">
			<% drafts.forEach(function(draft) {
				var unit_price = draft.unit_price || '0',
					quantity = draft.quantity || '0',
					setup_charges = draft.setup_charges || '0',
					shipping = draft.shipping || '0';
				%>
				<div class="row">
					<div class="col-sm-4"><a href="/drafts/draft/<%= draft.id %>"><%= draft.item %></a></div>
					<div class="col-sm-3" style="text-align: center;"><%= categoryArray[draft.category] %></div>
					<div class="col-sm-2" style="text-align: center;">$<%= ((parseFloat(unit_price.replace('$', '')) * parseInt(quantity)) + parseFloat(setup_charges.replace('$', '')) + parseFloat(shipping.replace('$', ''))).toFixed(2) %></div>
					<div class="col-sm-3" style="text-align: center;"><%= draft.created_at %></div>
				</div>
			<% }); %>
		</div>
	</div>
<% } else { %>
	<%- '<h6>You don\'t have any drafts yet. Click \'new\' to create a new draft/submission.</h6>' %>
<% } %>