<form id="application" method="POST">

	<!-- form fields for info on the requester -->
	<div class="form-group">
		<div class="row">
			
			<!-- request info column -->
			<div class="col-sm-7">
				<h5>Request Info</h5>
				<hr />
				<h6>Requester Info</h6>
				<div class="row">

					<!-- requester's name -->
					<div class="col-sm-6">
						<label for="requester">Your Name</label>
						<input class="form-control" disabled="true" id="requester" name="requester" type="text" value="<%= user.displayName %>" />
					</div>

					<!-- requester's program -->
					<div class="col-sm-6">
						<label for="program">Program</label>
						<select class="form-control" id="program" name="program" required="true">
							<option<%= typeof draft == 'undefined' ? ' selected="selected"' : ''%> disabled="disabled">Select</option>
							<% if(programs.length > 0) { %>
								<% programs.forEach(function(program) { %>
									<option<%= (typeof draft !== 'undefined' && draft.program == program.id) ? ' selected="selected"' : '' %> value="<%= program.id %>"><%= program.name %></option>
								<% }); %>
							<% } %>
						</select>
						<div class="invalid-feedback">Please select the program you belong to.</div>
					</div>
				</div>
				<hr />
				<h6>Purchase Info</h6>
				<label for="explanation">Explanation</label>
				<textarea class="form-control" rows="6" id="explanation" name="explanation"></textarea>
				<br />
				<div class="row">
					<div class="col-sm-6">

						<!-- purchase category -->
						<label for="category">Purchase Category</label>
						<select class="form-control" id="category" name="category" required="true">
							<option selected="selected" disabled="disabled">Select</option>
							<% if(categories.length > 0) {
								categories.forEach(function(category) { %>
									<option<%= (typeof draft !== 'undefined' && draft.category == category.id) ? ' selected="selected"' : '' %> value="<%= category.id %>"><%= category.name %></option>
								<% });
							} %>
						</select>
						<div class="invalid-feedback">Please select the category this purchase request would belong to.</div>
					</div>
					<div class="col-sm-6">

						<!-- was this purchased budgeted? -->
						<label for="budgeted">Was This Purchase Budgeted?</label>
						<select class="form-control" id="budgeted" name="budgeted" required="true">
							<option selected="selected" value="true">Yes</option>
							<option value="false">No</option>
						</select>
					</div>
				</div>
			</div>

			<!-- item info column -->			
			<div class="col-sm-5">
				<h5>Item Info</h5>
				<hr />
				<h6>General Info</h6>

				<!-- item name -->
				<label for="itemName">Item Name</label>
				<input class="form-control" id="itemName" name="itemName" required="true" type="text" value="<%= typeof draft !== 'undefined' ? draft.item : '' %>" />
				<div class="invalid-feedback">Please provide an item name.</div>
				<div class="row">

					<!-- color -->
					<div class="col-sm-6">
						<label for="color">Color (optional)</label>
						<input class="form-control" id="color" name="color" type="text" value="<%= typeof draft !== 'undefined' ? draft.color : '' %>" />
					</div>

					<!-- size -->
					<div class="col-sm-6">
						<label for="color">Size (optional)</label>
						<input class="form-control" id="size" name="size" type="text" value="<%= typeof draft !== 'undefined' ? draft.size : '' %>" />
					</div>
				</div>
				<hr />
				<h6>Costs</h6>
				<div class="row">
					<div class="col-sm-6">
						<label for="costs">Unit Cost</label>
						<div class="input-group" id="costs">
							
							<!-- unit cost -->
							<div class="input-group-prepend">
								<span class="input-group-text">$</span>
							</div>
							<input class="form-control" id="unitCost" name="unitCost" required="true" type="number" value="<%= typeof draft !== 'undefined' ? draft.unit_price.replace('$','') : '' %>" />
						</div>
					</div>
					<div class="col-sm-6">
						<label for="unitQty"># of Units</label>
						<div class="input-group">

							<!-- number of units -->
							<div class="input-group-prepend">
								<span class="input-group-text">×</span>
							</div>
							<input class="form-control" id="unitQty" name="unitQty" required="true" type="number" value="<%= typeof draft !== 'undefined' ? draft.quantity : '' %>" />
						</div>
					</div>
				</div>
				<label for="subTotalCost">Sub-Total</label>
				<div class="input-group">

					<!-- field for total cost to populate -->
					<div class="input-group-prepend">
						<span class="input-group-text">=</span>
					</div>
					<input class="form-control" disabled="disabled" id="subTotalCost" type="text" value="$0.00" />
					<div class="invalid-feedback">Please provide the unit price and number of units you would like to purchase.</div>
				</div>
				<br />
				<div class="row">
					<div class="col-sm-6">
						<label for="setup">Setup Charges:</label>
						<div class="input-group" id="setup">
							<div class="input-group-prepend">
								<span class="input-group-text">$</span>
							</div>
							<input class="form-control" id="setup_fee" name="setup_fee" type="number" value="<%= typeof draft !== 'undefined' ? draft.setup_charges.replace('$','') : '' %>" />
						</div>
					</div>
					<div class="col-sm-6">
						<label for="shipping">Shipping Fee:</label>
						<div class="input-group" id="shipping">
							<div class="input-group-prepend">
								<span class="input-group-text">$</span>
							</div>
							<input class="form-control" id="shipping_fee" name="shipping_fee" type="number" value="<%= typeof draft !== 'undefined' ? draft.shipping.replace('$','') : '' %>" />
						</div>
					</div>
				</div>

				<!-- field for total cost to populate -->
				<label for="totalCost">Total</label>
				<input class="form-control" disabled="disabled" id="totalCost" type="text" value="$0.00" />
			</div>
		</div>
	</div>
	<hr />

	<!-- form fields for info on the vendor -->
	<div class="form-group">
		<div class="row">
			<h5>Vendor Info</h5>
		</div>
		<div class="row">
			<h6>Vendor</h6>
		</div>
		<div class="row">

			<!-- name -->
			<div class="col-sm-6">
				<label for="vendor_name">Name</label>
				<input class="form-control" id="vendor_name" name="vendor_name" type="text" required="true" value="<%= typeof draft !== 'undefined' ? draft.vendor_name : '' %>" />
				<div class="invalid-feedback">Please provide a vendor name.</div>
			</div>

			<!-- type -->
			<div class="col-sm-6">
				<label for="vendor_type">Type</label>
				<select class="form-control" id="vendor_type" name="vendor_type">
					<option value="online">Online</option>
					<option value="brick">Brick & Mortar</option>
				</select>
			</div>
		</div>
		<div class="row">

			<!-- address -->
			<div class="col-sm-12">
				<label for="address">Physical Address (optional)</label>
				<input class="form-control" id="address" name="address" type="text" />
			</div>
		</div>
		<div class="row">

			<!-- URL -->
			<div class="col-sm-12">
				<label for="url">URL Address (optional)</label>
				<input class="form-control" id="url" name="url" type="text" />
			</div>
		</div>
		<br />
		<div class="row">
			<h6>PoC</h6>
		</div>
		<div class="row">

			<!-- POC name -->
			<div class="col-sm-4">
				<label for="poc">Name (optional)</label>
				<input class="form-control" id="poc" name="poc" type="text" value="<%= typeof draft !== 'undefined' ? draft.vendor_poc : '' %>" />
			</div>

			<!-- POC phone -->
			<div class="col-sm-4">
				<label for="phone">Phone (optional)</label>
				<input class="form-control" id="phone" name="phone" type="text" value="<%= typeof draft !== 'undefined' ? draft.vendor_phone : '' %>" />
			</div>

			<!-- POC email -->
			<div class="col-sm-4">
				<label for="email">Email (optional)</label>
				<input class="form-control" id="email" name="email" type="text" />
			</div>
		</div>
	</div>
	<div id="error_container"></div>

	<!-- hidden field to store user's desired action -->
	<input id="action" name="action" type="hidden" value="sub" />

	<!-- hidden field to store the draft id -->
	<input id="id" name="id" type="hidden" value="1" />

	<!-- form submit buttons -->
	<div class="form-group">
		<div class="input-group">
			<button class="btn btn-warning form-control" id="save_button" type="button">Save Draft</button>
			<button class="btn btn-warning form-control" id="submit_button" type="button">Submit Application</button>
		</div>
	</div>
</form>