<img src="../images/cover.jpg" width="100%" />
<br /><br />
<h5>Purpose</h5>
<p class="dsc" id="intro">This application was created for the Army Community Service (ACS) office of the Army Morale, Welfare and Recreation program (MWR) on Fort Gordon. It was designed to help the ACS keep track of funding requests, both approved and unapproved, and track the allocation of funds to various programs within ACS.</p>
<% if(typeof user == 'undefined') { %>
	<a href="/auth/signin" class="btn btn-primary btn-large btn-block">Click here to sign in</a>
<% } %>