<form id="settings" method="POST">
	<div class="row">
		<div class="col-sm-3">
			<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				<a aria-controls="users" aria-selected="true" class="active nav-link black" data-toggle="pill" href="#users" id="users-tab" role="tab">Users</a>
				<a aria-controls="programs" aria-selected="false" class="nav-link black" data-toggle="pill" href="#programs" id="programs-tab" role="tab">Programs</a>
				<a aria-controls="categories" aria-selected="false" class="nav-link black" data-toggle="pill" href="#categories" id="categories-tab" role="tab">Categories</a>
			</div>
			<br />
			<div style="bottom: 0; padding: 0px 30px 0px 0px; position: absolute; width: 100%">
				<a href="/manage/export" role="presentation" style=""><button class="btn btn-block btn-warning" type="button">Download Backup</button></a>
			</div>
		</div>
		<div class="col-sm-9">
			<div class="tab-content" id="myTabContent">
		
				<!-- section for editing user roles -->
				<div aria-labelledby="users-tab" class="active fade show tab-pane" id="users" role="tabpanel">
					<h5>Edit User Roles</h5>
					<br />
					<% if(typeof users !== 'undefined' && users.length > 0) { %>
						<div class="grid">
							<div class="grid-header row">
								<div class="col-sm-7">Email</div>
								<div class="col-sm-3">Role</div>
								<div class="col-sm-2">Options</div>
							</div>
							<div class="grid-body">
								<% users.forEach(function(user) { %>
									<div class="row">
										<div class="col-sm-7">
											<input class="form-control user-email" disabled="disabled" type="text" value="<%= user.email %>" />
										</div>
										<div class="col-sm-3">
											<select class="form-control user-role" >
												<option<%= user.role == 'unapproved' ? ' selected="selected"' : '' %>>Unapproved</option>
												<option<%= user.role == 'user' ? ' selected="selected"' : '' %>>User</option>
												<option<%= user.role == 'cardholder' ? ' selected="selected"' : '' %>>Cardholder</option>
												<option<%= user.role == 'director' ? ' selected="selected"' : '' %>>Director</option>
												<option<%= user.role == 'admin' ? ' selected="selected"' : '' %>>Admin</option>
											</select>
										</div>
										<div class="col-sm-2">
											<button class="btn btn-block btn-danger delete" type="button">Delete</button>
										</div>
									</div>
								<% }); %>
							</div>
						</div>
					<% } else { %>
						<h6>There are no users to display.</h6>
					<% } %>
				</div>
			

				<!-- section for editing programs -->
				<div class="tab-pane fade" id="programs" role="tabpanel" aria-labelledby="programs-tab">
					<h5>Edit ACS Programs</h5>
					<br />
					<% if(typeof programs !== 'undefined' && programs.length > 0) { %>
						<div class="grid">
							<div class="grid-header row">
								<div class="col-sm-10">Program</div>
								<div class="col-sm-2">Options</div>
							</div>
							<div class="grid-body" id="programFields">
								<% programs.forEach(function(program) { %>
									<div class="row">
										<div class="col-sm-10">
											<input class="form-control program-name" data-program-id="<%= program.id %>" name="programUpdateNames" type="text" value="<%= program.name %>" />
										</div>
										<div class="col-sm-2">
											<button class="btn btn-block btn-danger delete" type="button">Delete</button>
										</div>
									</div>
								<% }); %>
							</div>
						</div>
						<button class="btn btn-block" id="addProgram" style="margin-top: 10px;" type="button"><a href="javascript: void(0)">+ Add New Program</a></button>
					<% } else { %>
						<h6>There are no programs to display.</h6>
					<% } %>
				</div>

				<!-- section for editing expenditure categories -->
				<div class="tab-pane fade" id="categories" role="tabpanel" aria-labelledby="categories-tab">
					<h5>Edit Purchase Categories</h5>
					<br />
					<% if(typeof categories !== 'undefined' && categories.length > 0) { %>
						<div class="grid">
							<div class="grid-header row">
								<div class="col-sm-10">Category</div>
								<div class="col-sm-2">Options</div>
							</div>
							<div class="grid-body" id="categoryFields">
								<% categories.forEach(function(category) { %>
									<div class="row">
										<div class="col-sm-10">
											<input class="form-control category-name" data-category-id="<%= category.id %>" name="categoryUpdateNames" type="text" value="<%= category.name %>" />
										</div>
										<div class="col-sm-2">
											<button class="btn btn-block btn-danger delete" type="button">Delete</button>
										</div>
									</div>
								<% }); %>
							</div>
						</div>
						<button class="btn btn-block" id="addCategory" style="margin-top: 10px;" type="button"><a href="javascript: void(0)">+ Add New Category</a></button>
					<% } else { %>
						<h6>There are no categories to display.</h6>
					<% } %>
				</div>
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-sm-3">
			<button class="btn btn-block btn-light" id="cancel" type="button">Cancel</button>
		</div>
		<div class="col-sm-9">
			<button class="btn btn-block btn-warning" type="submit">Save Settings</button>
		</div>
	</div>
</form>