<form action="/reports/export" method="GET">
	<div class="row" id="menu">
		<div class="col-sm">
			<h6>From:</h6>
			<select class="form-control" id="startYear">
				<option selected="selected" value="2019">FY19</option>
			</select>
		</div>
		<div class="col-sm">
			<h6>To:</h6>
			<select class="form-control" id="endYear">
				<option selected="selected" value="2019">FY19</option>
			</select>
		</div>
		<div class="col-sm">
			<h6>Field:</h6>
			<select class="form-control" id="field" name="field">
				<option selected="selected" value="program">Program</option>
				<option value="category">Category</option>
			</select>
		</div>
		<div class="col-sm">
			<h6>Sub-Field:</h6>
			<select class="form-control" id="subField" name="subField">
				<option selected="selected" value="0">None</option>
				<% programs.forEach(program => { %>
					<option value="<%= program.id %>"><%= program.name %></option>
				<% }); %>
			</select>
		</div>
		<div class="col-sm">
			<h6>See:</h6>
			<select class="form-control" id="see" name="see">
				<option selected="selected" value="number">Number of Purchases</option>
				<option value="cost">Cost of Purchases</option>
			</select>
		</div>
		<div class="col-sm">
			<h6>Status:</h6>
			<select class="form-control" id="status">
				<option selected="selected" value="approved">Approved</option>
				<option value="purchased">Purchased</option>
			</select>
		</div>
	</div>
	<hr />
	<canvas id="report"></canvas>
	<br />
	<button class="btn btn-block btn-warning" id="exportButton">Export to PDF Document</button>
</form>