<%- (typeof success !== 'undefined' && success === true && typeof message !== 'undefined') ? message : '' %>
<% if(typeof applications !== 'undefined' && typeof applications !== 'null' && applications.length > 0) {
	
	// checks if the user is a director or above and changes the interface if so
	var permission = user.permissions.updateAny('application');
	if(permission.granted && (permission.attributes.includes('*') || permission.attributes.includes('status'))) {
		var pendingApplications = [],
			approvedApplications = [],
			wishlistApplications = [],
			deniedApplications = [];

		// loops through all applications and adds an element to their respective array by approval status
		applications.forEach(application => {
			switch(application.status) {
				case 'approved':
					approvedApplications.push(application);
					break;
				case 'wishlist':
					wishlistApplications.push(application);
					break;
				case 'denied':
					deniedApplications.push(application);
					break;
				default:
					pendingApplications.push(application);
					break;
			}
		});
		programArray = [];
		programs.forEach(program => {
			programArray[program.id] = program.name;
		});
		userArray = [];
		users.forEach(user => {
			userArray[user.email] = user.name;
		});
		
		// displays all applications grouped into three tabs by their status and a form to make changes to their status %>
		<form id="submissions" method="POST">
			<div class="row">
				<div class="col-sm-3">
					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<a aria-controls="pending_submissions" aria-selected="true" class="active nav-link" data-toggle="pill" href="#pending_submissions" id="pending-tab" role="tab">Pending</a>
						<a aria-controls="approved_submissions" aria-selected="false" class="nav-link" data-toggle="pill" href="#approved_submissions" id="approved-tab" role="tab">Approved</a>
						<a aria-controls="wishlist_submissions" aria-selected="false" class="nav-link" data-toggle="pill" href="#wishlist_submissions" id="wishlist-tab" role="tab">Wishlist</a>
						<a aria-controls="denied_submissions" aria-selected="false" class="nav-link" data-toggle="pill" href="#denied_submissions" id="denied-tab" role="tab">Denied</a>
					</div>
				</div>
				<div class="col-sm-9">
					<div class="tab-content" id="myTabContent">
						<div aria-labelledby="pending-tab" class="active fade show tab-pane" id="pending_submissions" role="tabpanel">
							<br />
							<% if(pendingApplications.length > 0) { %>
								<div class="grid">
									<div class="grid-header row">
										<div class="col-sm-4">Item</div>
										<div class="col-sm-2">Requester</div>
										<div class="col-sm-2">Total</div>
										<div class="col-sm-2">Created On</div>
										<div class="col-sm-2">Status</div>
									</div>
									<div class="grid-body striped">
										<% pendingApplications.forEach(function(application, index) {
											var setup_charges = application.setup_charges || '0',
												shipping = application.shipping || '0';
											%>
											<div class="row">
												<div class="col col-sm-4"><a href="/submissions/submission/<%= application.id %>"><%= application.item %></a></div>
												<div class="col col-sm-2"><%= userArray[application.requester] %></div>
												<div class="col col-sm-2">$<%= ((parseFloat(application.unit_price.replace('$', '')) * application.quantity) + parseFloat(shipping.replace('$', '')) + parseFloat(setup_charges.replace('$', ''))).toFixed(2); %></div>
												<div class="center col col-sm-2"><%= application.created_at %></div>
												<div class="center col col-sm-2">
													<select class="form-control status" name="<%= application.id %>">
														<option value="pending" selected="selected">Pending</option>
														<option value="approved">Approved</option>
														<option value="wishlist">Wishlist</option>
														<option value="denied">Denied</option>
													</select>
												</div>
											</div>
										<% }); %>
									</div>
								</div>
							<% } else { %>
								<h6>There are no purchase request applications that currently need reviewing.</h6>
							<% } %>
						</div>
						<div aria-labelledby="approved-tab" class="fade tab-pane" id="approved_submissions" role="tabpanel">
							<br />
							<% if(approvedApplications.length > 0) { %>
								<div class="grid">
									<div class="grid-header row">
										<div class="col-sm-4">Item</div>
										<div class="col-sm-2">Requester</div>
										<div class="col-sm-2">Total</div>
										<div class="col-sm-2">Created On</div>
										<div class="col-sm-2">Status</div>
									</div>
									<div class="grid-body striped">
										<% approvedApplications.forEach(function(application, index) {
											var setup_charges = application.setup_charges || '0',
												shipping = application.shipping || '0';
											%>
											<div class="row">
												<div class="col col-sm-4"><a href="/submissions/submission/<%= application.id %>"><%= application.item %></a></div>
												<div class="col col-sm-2"><%= userArray[application.requester] %></div>
												<div class="center col col-sm-2">$<%= ((parseFloat(application.unit_price.replace('$', '')) * application.quantity) + parseFloat(shipping.replace('$', '')) + parseFloat(setup_charges.replace('$', ''))).toFixed(2); %></div>
												<div class="center col col-sm-2"><%= application.created_at %></div>
												<div class="center col col-sm-2"><h5><span class="badge badge-success"><%= application.purchased ? 'purchased' : 'approved' %></span></h5></div>
											</div>
										<% }); %>
									</div>
								</div>
							<% } else { %>
								<h6>There are no purchase request applications that have been approved yet.</h6>
							<% } %>
						</div>
						<div aria-labelledby="wishlist-tab" class="fade tab-pane" id="wishlist_submissions" role="tabpanel">
							<br />
							<% if(wishlistApplications.length > 0) { %>
								<div class="grid">
									<div class="grid-header row">
										<div class="col-sm-4">Item</div>
										<div class="col-sm-2">Requester</div>
										<div class="col-sm-2">Total</div>
										<div class="col-sm-2">Created On</div>
										<div class="col-sm-2">Status</div>
									</div>
									<div class="grid-body striped">
										<% wishlistApplications.forEach(function(application, index) {
											var setup_charges = application.setup_charges || '0',
												shipping = application.shipping || '0';
											%>
											<div class="row">
												<div class="col col-sm-4"><a href="/submissions/submission/<%= application.id %>"><%= application.item %></a></div>
												<div class="col col-sm-2"><%= userArray[application.requester] %></div>
												<div class="center col col-sm-2">$<%= ((parseFloat(application.unit_price.replace('$', '')) * application.quantity) + parseFloat(shipping.replace('$', '')) + parseFloat(setup_charges.replace('$', ''))).toFixed(2); %></div>
												<div class="center col col-sm-2"><%= application.created_at %></div>
												<div class="center col col-sm-2"><h5><span class="badge badge-warning">wishlist</span></h5></div>
											</div>
										<% }); %>
									</div>
								</div>
							<% } else { %>
								<h6>There are no purchase request applications that have been added to the wishlist yet.</h6>
							<% } %>
						</div>
						<div aria-labelledby="denied-tab" class="fade tab-pane" id="denied_submissions" role="tabpanel">
							<br />
							<% if(deniedApplications.length > 0) { %>
								<div class="grid">
									<div class="grid-header row">
										<div class="col-sm-4">Item</div>
										<div class="col-sm-2">Requester</div>
										<div class="col-sm-2">Total</div>
										<div class="col-sm-2">Created On</div>
										<div class="col-sm-2">Status</div>
									</div>
									<div class="grid-body striped">
										<% deniedApplications.forEach(function(application, index) {
											var setup_charges = application.setup_charges || '0',
												shipping = application.shipping || '0';
											%>
											<div class="row">
												<div class="col col-sm-4"><a href="/submissions/submission/<%= application.id %>"><%= application.item %></a></div>
												<div class="col col-sm-2"><%= userArray[application.requester] %></div>
												<div class="center col col-sm-2">$<%= ((parseFloat(application.unit_price.replace('$', '')) * application.quantity) + parseFloat(shipping.replace('$', '')) + parseFloat(setup_charges.replace('$', ''))).toFixed(2); %></div>
												<div class="center col col-sm-2"><%= application.created_at %></div>
												<div class="center col col-sm-2"><h5><span class="badge badge-danger">denied</span></h5></div>
											</div>
										<% }); %>
									</div>
								</div>
							<% } else { %>
								<h6>There are no purchase request applications that have been denied yet.</h6>
							<% } %>
						</div>
					</div>
				</div>
			</div>
			<br />
			<div class="row">
				<div class="col-sm-3">
					<button class="btn btn-block btn-light" id="cancel" type="button">Cancel</button>
				</div>
				<div class="col-sm-9">
					<button class="btn btn-warning btn-block" id="save" type="submit">Save changes</button>
				</div>
			</div>
		</form>
	<% } else if(permission.granted && (permission.attributes.includes('*') || permission.attributes.includes('purchased'))) {

		// displays only the current user's submissions 
		if(applications.length > 0) { %>
			<form id="submissions" method="POST">
				<div class="grid">
					<div class="grid-header row">
						<div class="col-sm-4">Item</div>
						<div class="col-sm-2">Requester</div>
						<div class="col-sm-2">Program</div>
						<div class="col-sm-2">Total</div>
						<div class="col-sm-2">Purchased?</div>
					</div>
					<div class="grid-body striped">
						<% applications.forEach((application, index) => {
							var setup_charges = application.setup_charges || '0',
								shipping = application.shipping || '0';
							%>
							<div class="row">
								<div class="col col-sm-4"><a href="/submissions/submission/<%= application.id %>"><%= application.item %></a></div>
								<div class="col col-sm-2"><%= userArray[application.requester] %></div>
								<div class="col col-sm-2"><%= programArray[application.program] %></div>
								<div class="center col col-sm-2">$<%= ((parseFloat(application.unit_price.replace('$', '')) * application.quantity) + parseFloat(shipping.replace('$', '')) + parseFloat(setup_charges.replace('$', ''))).toFixed(2); %></div>
								<div class="center col col-sm-2">
									<select class="form-control status" name="<%= application.id %>">
										<option value="false" selected="selected">No</option>
										<option value="true">Yes</option>
									</select>
								</div>
							</div>
						<% }); %>
					</div>
				</div>
				<br />
				<div class="row">
					<div class="col-sm-3">
						<button class="btn btn-block btn-light" id="cancel" type="button">Cancel</button>
					</div>
					<div class="col-sm-9">
						<button class="btn btn-warning btn-block" id="save" type="submit">Save changes</button>
					</div>
				</div>
			</form>
		<% } else { %>
			<h6>There are currently no approved applications in need of purchasing.</h6>
		<% }
	} else {

		// displays only the current user's submissions %>
		<div class="grid">
			<div class="grid-header row">
				<div class="col-sm-4">Item</div>
				<div class="col-sm-2">Requester</div>
				<div class="col-sm-2">Total</div>
				<div class="col-sm-2">Created On</div>
				<div class="col-sm-2">Status</div>
			</div>
			<div class="grid-body striped">
				<% applications.forEach(function(application, index) {
					var setup_charges = application.setup_charges || '0',
						shipping = application.shipping || '0';
					%>
					<div class="row">
						<div class="col col-sm-4"><a href="/submissions/submission/<%= application.id %>"><%= application.item %></a></div>
						<div class="col col-sm-2"><%= userArray[application.requester] %></div>
						<div class="center col col-sm-2">$<%= ((parseFloat(application.unit_price.replace('$', '')) * application.quantity) + parseFloat(shipping.replace('$', '')) + parseFloat(setup_charges.replace('$', ''))).toFixed(2); %></div>
						<div class="center col col-sm-2"><%= application.created_at %></div>
						<div class="center col col-sm-2"><h5><span class="badge badge-<%- (application.status == 'pending') ? 'secondary' : (application.status == 'approved') ? 'success' : 'danger' %>"><%= application.status %></span></h5></div>
					</div>
				<% }); %>
			</div>
		</div>
	<% }
} else { %>
	<h6>There are no submissions to see yet</h6>
<% } %>