<% 
programArray = [];
programs.forEach(program => {
	programArray[program.id] = program.name;
});
categoryArray = [];
categories.forEach(category => {
	categoryArray[category.id] = category.name;
});
userArray = [];
users.forEach(user => {
	userArray[user.email] = user.name;
});
var setup_charges = application.setup_charges || '0',
	shipping = application.shipping || '0';
var subTotal = (parseFloat(application.unit_price.replace('$', '')) * parseInt(application.quantity)).toFixed(2);
var total = (parseFloat(subTotal) + parseFloat(setup_charges.replace('$', '')) + parseFloat(shipping.replace('$', ''))).toFixed(2);
if(typeof application !== 'undefined') { %>
	<form id="application" method="POST">
		<div class="row">
			<div class="col-sm-7">
				<h4><%= application.item %></h4>
				<hr />
				<h6>Justification</h6>
				<textarea class="form-control" disabled="disabled" id="explanation" name="explanation" rows="6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</textarea>
				<hr />
				<div class="row">
					<div class="col-sm"><h6>Color</h6></div>
					<div class="col-sm"><h6>Size</h6></div>
				</div>
				<div class="row">
					<!--<div class="col-sm"><%= application.color || 'N/A' %></div>-->
					<div class="col-sm">
						<input class="form-control" disabled="disabled" type="text" value="<%= application.color || 'N/A' %>" />
					</div>
					<div class="col-sm">
						<input class="form-control" disabled="disabled" type="text" value="<%= application.size || 'N/A' %>" />
					</div>
				</div>
				<br />
				<h6>Imprint</h6>
				<input class="form-control" disabled="disabled" type="text" value="<%= application.imprint || 'N/A' %>" />
				<hr />
				<h5>Vendor</h5>
				<input class="form-control" disabled="disabled" type="text" value="<%= application.vendor_name %>" />
				<br />
				<div class="row">
					<div class="col-sm"><h6>PoC Name</h6></div>
					<div class="col-sm"><h6>PoC Phone</h6></div>
					<div class="col-sm"><h6>PoC Email</h6></div>
				</div>
				<div class="row">
					<div class="col-sm">
						<input class="form-control" disabled="disabled" type="text" value="<%= application.vendor_poc || 'N/A' %>" />
					</div>
					<div class="col-sm">
						<input class="form-control" disabled="disabled" type="text" value="<%= application.vendor_phone || 'N/A' %>" />
					</div>
					<div class="col-sm">
						<input class="form-control" disabled="disabled" type="text" value="<%= application.vendor_email || 'N/A' %>" />
					</div>
				</div>
				<br />
			</div>
			<div class="col-sm-5">
				<div class="card">
					<!--<img class="card-img-top" src="..." alt="Card image cap">-->
					<div class="card-header">Metadata</div>
					<div class="card-body">
						<p>Submitted by <%= userArray[application.requester] %></p>
						<p>Created on <%= application.created_at %></p>
						<p><%= application.budgeted ? 'Budgeted.' : 'Not budgeted' %></p>
						<h5 class="card-title"><span class="badge <%= application.status == 'pending' ? 'badge-secondary' : application.status == 'approved' ? 'badge-success' : application.status == 'wishlist' ? 'badge-warning' : 'badge-danger' %>"><%= application.status %></span></h5>
						<!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						<a href="#" class="btn btn-primary">Go somewhere</a>-->
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<!--<h6 class="card-subtitle mb-2 text-muted">Program</h6>-->
							<h6 class="card-subtitle">Program</h6>
							<p><%= programArray[application.program] %></p>
							<h6 class="card-subtitle">Category</h6>
							<p><%= categoryArray[application.category] %></p>
						</li>
					</ul>
				</div>
				<br />
				<div class="card">
					<!--<img class="card-img-top" src="..." alt="Card image cap">-->
					<div class="card-header">Costs</div>
					<div class="card-body">
						<div class="row">
							<div class="col-sm">Unit Cost:</div>
							<div class="col-sm" style="text-align: right;"><%= application.unit_price %></div>
						</div>
						<div class="row">
							<div class="col-sm">Quantity:</div>
							<div class="col-sm" style="text-align: right;">×</div>
							<div class="col-sm" style="text-align: right;"><%= application.quantity %></div>
						</div>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<div class="row">
								<div class="col-sm">Sub-Total:</div>
								<div class="col-sm" style="text-align: right;">$<%= subTotal %></div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="row">
								<div class="col-sm">Setup Fees:</div>
								<div class="col-sm" style="text-align: right;">+</div>
								<div class="col-sm" style="text-align: right;"><%= application.setup_charges || '$0.00' %></div>
							</div>
							<div class="row">
								<div class="col-sm">Shipping:</div>
								<div class="col-sm" style="text-align: right;">+</div>
								<div class="col-sm" style="text-align: right;"><%= application.shipping || '$0.00' %></div>
							</div>
						</li>
						<li class="list-group-item" style="font-weight: bold;">
							<div class="row">
								<div class="col-sm">Total:</div>
								<div class="col-sm" style="text-align: right;">$<%= total %></div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="col-sm-3">
				<select class="form-control" id="action" name="action">
					<option disabled="disabled" selected="selected">Select</option>
					<option value="approved">Approve</option>
					<option value="wishlist">Add to Wishlist</option>
					<option value="denied">Deny</option>
					<option value="delete">Delete</option>
				</select>
			</div>
			<div class="col-sm-9">
				<button class="btn btn-block btn-warning">Save Changes</button>
			</div>
		</div>
	</form>
<% } %>