:root {
    --army-yellow: #FCD518;
    --army-yellow-dark: #E2BD03;
    --gray-light: #F0F0F0;
}

@media (min-width: 1200px) {
    .container{
        max-width: 900px;
    }
}

a {
    text-decoration: none !important;
}

h1, h3 {
	font-family: Arial;
}

.btn-warning, .btn-warning:visited {
    background-color: var(--army-yellow) !important;
}

.btn-warning:hover, .btn-warning:active {
    background-color: var(--army-yellow-dark) !important;
}

.breadcrumbs {
    color: #6C757D;
    padding-left: 5px;
}

.center {
    text-align: center;
}

.column-header {
    font-size: 18;
    font-weight: bold;
    text-align: center;
}

.display-name {
	color: #FFF;
}

.grid-body > .row {
    font-size: 11pt;
    padding-bottom: 5px;
    padding-top: 5px;
}

.grid-body > .row > * {
   background: linear-gradient(transparent 150px, white);
   overflow: hidden;
   text-overflow: ellipsis;
}

.grid-header {
    background-color: black;
    color: white;
    margin-bottom: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.header-group {
    padding-bottom: 5px;
    padding-top: 15px;
}

.invalid-input {
    border-color: red;
}

.nav-pills .nav-link[aria-selected="true"] {
    background-color: #E9ECEF;
    color: black;
}

.nav-pills .nav-link {
    background-color: white;
    color: black;
}
.nav-pills .nav-link:hover {
    background-color: #E9ECEF;
}

.striped > :nth-child(even){
    background-color: var(--gray-light) !important;
}

#nav-title {
	color: var(--army-yellow);
}