<nav class="navbar navbar-default navbar-expand-lg shadow-sm" id="header" role="navigation">
	<a class="navbar-brand" href="/">
		<img src="/images/logo.png" width="150px" />
		<span id="nav-title">Budgeting</span>
	</a>
	<div class="collapse navbar-collapse" id="navbarText">
	    <ul class="navbar-nav mr-auto">
	    	<li class="nav-item">
	    		<a class="nav-link active" href="/">Home</a>
    		</li>

    		<!-- displays nav items only if user is logged in -->
    		<%
	    		if(typeof user !== 'undefined') {
	    			var permission1 = user.permissions.readOwn('application').granted;
	    			var permission2 = user.permissions.createOwn('application').granted;
	    			var permission3 = user.permissions.createOwn('draft').granted;
	    			var isUser = permission1 && permission2 && permission3 ? true : false;
		    		if(isUser) {
		    		%>
			    		<li class="nav-item">
				    		<a class="nav-link active" href="/drafts/new">New</a>
			    		</li>
			    		<li class="nav-item">
				    		<a class="nav-link active" href="/drafts">Drafts</a>
			    		</li>
			    		<li class="nav-item">
				    		<a class="nav-link active" href="/submissions">Submissions</a>
			    		</li>
			    		<%
			    		var isDirector = user.permissions.readAny('report').granted;
			    		if(isDirector) { %>
			    			<li class="nav-item">
					    		<a class="nav-link active" href="/reports">Reports</a>
				    		</li>
			    		<% }
		    		} else if(typeof user !== 'undefined' && user.role == 'unapproved') { %>
		    			<li class="nav-item">
				    		<a class="nav-link active" href="">Registered but not approved.</a>
			    		</li>
		    		<% }
	    		}
    		%>
		</ul>

		<!-- displays user avatar dropdown if signed in, sign-in link if not -->
		<ul class="navbar-nav ml-auto">
            <% if(typeof user !== 'undefined') { %>
				<% if(isDirector) { %>
					<li class="nav-item">
			    		<a class="nav-link active" href="/manage">Manage App</a>
		    		</li>
    			<% } %>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						<% if (typeof user.avatar !== 'undefined') { %>
							<img src="<%= user.avatar %>" class="rounded-circle align-self-center mr-2" style="width: 32px;">
						<% } else { %>
							<i class="far fa-user-circle fa-lg rounded-circle align-self-center mr-2" style="width: 32px;"></i>
						<% } %>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<h5 class="dropdown-item-text mb-0 display-name"><%= user.displayName %></h5>
						<p class="dropdown-item-text text-muted mb-0"><%= user.email %></p>
						<div class="dropdown-divider"></div>
						<a href="/auth/signout" class="dropdown-item">Sign Out</a>
					</div>
				</li>
            <% } else { %>
	            <li class="nav-item">
	                <a class="nav-link inactive" href="/auth/signin">Sign In</a>
	            </li>
            <% } %>
        </ul>
	</div>
</nav>